{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Craigs_List</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo">Craigs List</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        
        <h1 style="text-align: center">How can we assist you today?</h1>
        <div class="row">
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color:#EE6E73">flash_on</i>
                    <p>Fast craigs list Web scrapper</p>
                    <p class="light center">Scrape away right here with a beautiful GUI.</p>
                </div>
            </div>

            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color:orange">camera</i>
                    <p>Filter your searches</p>
                    <p class="light center">There is built in functionality to filter based on pricing</p>
                </div>
            </div>

            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color: blue">chrome_reader_mode</i>
                    <p>A more attractive user interface</p>
                    <p class="light center">With better presentation</p>
                </div>
            </div>
        </div>

    <form action="{% url 'new_search' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search" placeholder="search">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>

    {%  block content %}
    {%  endblock content %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

